// SITEWIDE SETTINGS
html {

}
body {
  font-family: "Raleway", "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  background-image: url("eiffel.jpg");
  background-size: 100% auto;
  a:focus {
    outline: 0;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}
.main-container {

}
// SITEWIDE SETTINGS
