// MAIN CONTAINER CLASS //
.content-container {
  margin-left: 220px;
  height: 100vh;
}
// MAIN CONTAINER CLASS //

// MIXINS
@mixin gradient($color1, $color2) {
  background: -webkit-linear-gradient($color1, $color2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($color1, $color2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($color1, $color2); /* For Firefox 3.6 to 15 */
  background: linear-gradient($color1, $color2); /* Standard syntax */
}
//

// ADD TASK AND TASK ITEM
.add-task, .task-item {
  .glyphicon {
    font-size: 1.3em;
    margin-right: 5px;
  }
}

.add-task {
  margin-top: 15px;
  margin-bottom: 15px;

  input {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    @include gradient(#808080, #909090);
    color: white;
    border: none;
    box-shadow: 0px 0px 3px #303030 inset;
  }
  // PLACEHOLDER STYLES
  *::-webkit-input-placeholder {
    color: #E0E0E0;
  }
  *:-moz-placeholder {
    /* FF 4-18 */
    color: #E0E0E0;
  }
  *::-moz-placeholder {
    /* FF 19+ */
    color: #E0E0E0;
  }
  *:-ms-input-placeholder {
    /* IE 10+ */
    color: #E0E0E0;
  }
  // PLACEHOLDER STYLES
}

.task-item {
  padding-top: 10px;
  padding-bottom: 10px;

  margin-bottom: 5px;
  overflow: auto;

  @include gradient(#E0E0E0, white);

  .task-title {
    float: left;
  }
  .task-actions {
    float: right;
  }
}
// ADD TASK AND TASK ITEM
