// MAIN CONTAINER CLASS //
.content-container {
  margin-left: 220px;
  height: 100vh;
  overflow-y: scroll;
}
// MAIN CONTAINER CLASS //

// MIXINS
@mixin gradient($color1, $color2) {
  background: -webkit-linear-gradient($color1, $color2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($color1, $color2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($color1, $color2); /* For Firefox 3.6 to 15 */
  background: linear-gradient($color1, $color2); /* Standard syntax */
}
//

// ADD TASK AND TASK ITEM
.add-task {
  margin-top: 15px;
  margin-bottom: 15px;

  input {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    @include gradient(#707070, #909090);
    color: white;
    border: none;
    box-shadow: 0px 1px 3px #202020 inset;
  }
  // PLACEHOLDER STYLES
  *::-webkit-input-placeholder {
    color: #E0E0E0;
  }
  *:-moz-placeholder {
    /* FF 4-18 */
    color: #E0E0E0;
  }
  *::-moz-placeholder {
    /* FF 19+ */
    color: #E0E0E0;
  }
  *:-ms-input-placeholder {
    /* IE 10+ */
    color: #E0E0E0;
  }
  // PLACEHOLDER STYLES
}

.task-item {
  .glyphicon {
    font-size: 1.3em;
    margin-right: 5px;
  }

  border-radius: 5px;
  margin-top: 5px;

  .task-main {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
    @include gradient(#E0E0E0, white);

    .task-title {
      float: left;
    }
    .task-actions {
      float: right;
    }
  }

  .task-details {
    @include gradient(white, #E0E0E0);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    padding: 10px;

    .task-field {
      background: none;
      box-shadow: none;
      border-color: rgba(0, 0, 0, 0);
      -webkit-background-clip: padding-box; /* for Safari */
      background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    }
    .glyphicon {
      font-size: 1em;
    }
  }
}

.active-task {


  .task-main {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

// ADD TASK AND TASK ITEM

// COMPLETED TASK BUTTON
.completed-tasks-button {
  margin-top: 20px;
}
// COMPLETED TASK BUTTON
