// MAIN CONTAINER CLASS
.menu-container {
  width: 220px;
  float: left;
  height: 100vh;
  background-color: #F0F0F0;
  border-right: solid 1px #787878;
  box-shadow: 5px 0px 15px #888888;
}
// MAIN CONTAINER CLASS

// USER MENU (SETTINGS/LOGOUT)
.user-menu {
  background-color: #505050;
  padding: 3px;
  box-shadow: 0px 0px 3px #A0A0A0 inset;
  li {
    a {
      padding: 5px;
      padding-left: 15px;
      display: block;
      color: white;
      font-variant: small-caps;
    }
    a:hover {
      background-color: #606060;
    }
  }
}
// USER MENU (SETTINGS/LOGOUT)

// LISTS LABEL
.separator-label {
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 3px;
  padding-left: 30px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #C0C0C0;
  color: #F0F0F0;
  font-size: 0.8em;
  box-shadow: 0px 0px 2px #888888 inset;
}
// LISTS LABEL

// LIST ITEM
.list-item {
  a {
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 1px;
    margin-left: 5px;
    background-color: #F8F8F8;
    display: block;
    box-shadow: 0px 0px 2px #B0B0B0 inset;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: black;
  }
  a:hover {
    background-color: #E8E8E8;
  }
}
.active-list {
  a {
    background-color: #C8C8C8;
  }
  a:hover {
    background-color: #C8C8C8;
  }
}
// LIST ITEM
