// MAIN CONTAINER CLASS
.menu-container {
  width: 220px;
  float: left;
  height: 100vh;
  background-color: #F0F0F0;
  border-right: solid 1px #787878;
  box-shadow: 5px 0px 15px #888888;
}
// MAIN CONTAINER CLASS

// USER MENU (SETTINGS/LOGOUT)
.user-menu {
  background-color: #505050;
  padding: 3px;
  box-shadow: 0px 0px 3px #A0A0A0 inset;
  li {
    a {
      padding: 5px;
      padding-left: 15px;
      display: block;
      color: white;
      font-variant: small-caps;
    }
    a:hover {
      background-color: #606060;
    }
  }
}
// USER MENU (SETTINGS/LOGOUT)

// LISTS LABEL
.separator-label {
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 3px;
  padding-left: 30px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #C0C0C0;
  color: #F0F0F0;
  font-size: 0.8em;
  box-shadow: 0px 0px 2px #888888 inset;
}
// LISTS LABEL

// LIST ITEM
.list-item {
  .list-link {
    padding: 5px;
    margin-left: 30px;
    box-shadow: 0px 0px 2px #B0B0B0 inset;
    background-color: #F8F8F8;
  }
  .list-link:hover {
    background-color: #E8E8E8;
  }
  .list-edit {
    padding: 2px;
    margin-left: 5px;
    background-color: #D8D8D8;
    box-shadow: 0px 0px 4px #B0B0B0 inset;
    form {
      display: inline;
    }
    input {
      width: 70%;
      border-radius: 4px;
    }
    .edit-button {
      float: right;
      margin: 3px;
    }
    .remove-button {
      cursor: pointer;
      cursor: hand;
    }
    .confirm-delete {
      margin: 3px;
      display: inline-block;
      p, span {
        margin: 0;
        margin-left: 4px;
        display: inline;
      }
      span {
        cursor: pointer;
        cursor: hand;
      }
    }
  }
  .list-link, .list-edit {
    height: 30px;
    cursor: default;
    padding-left: 10px;
    margin-bottom: 1px;
    display: block;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: black;
  }
}
.active-list {
  .list-link {
    margin-left: 5px;
    background-color: #D8D8D8;
    box-shadow: 0px 0px 4px #B0B0B0 inset;
  }
  .list-link:hover {
    background-color: #D8D8D8;
  }
}
.edit-button {
  font-size: 1.3em;
  float: right;
  cursor: pointer;
  cursor: hand;
}
.edit-button.ng-hide {
  opacity: 0;
}
// LIST ITEM

// NEW LIST
.new-list {
  height: 30px;
  padding: 5px;
  padding-left: 30px;
  .new-list-form {
    display: inline;
    input {
      width: 70%;
      border-radius: 4px;
    }
  }
  .new-list-button {
    font-size: 1.3em;
    float: right;
    display: inline;
    cursor: pointer;
    cursor: hand;
  }
}
