// MAIN CONTAINER CLASS
.menu-container {
  width: 220px;
  float: left;
  height: 100vh;
  padding: 1px;
  background-color: #B0B0B0;
  border-right: solid 1px #787878;
  box-shadow: 5px 0px 15px #888888;
}
// MAIN CONTAINER CLASS
